/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css");

html {
  scroll-behavior: smooth;
}

i {
  color: var(--text-color);
}
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --super-small-font-size: 0.73rem;
  --super-smaller-font-size: 0.588rem;

  /*========== Font weight ==========*/
  --font-small: 300;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*========== List Style ==========*/

li {
  list-style: none;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  /* visibility: hidden; */
}

#theme-button:hover {
  color: var(--title-color);
  transform: scale(1.05);
}

.generate-pdf:hover {
  transform: scale(1.05);
}

.profile__description:hover {
  text-decoration: underline;
}

/*========== Font size variables to scale cv ==========*/
body.scale-cv {
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}

/*========== Generate PDF button ==========*/
.generate-pdf {
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  border-width: 0px;
  /* visibility: hidden; */
}

.generate-pdf:hover {
  color: var(--title-color);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf {
  display: none;
}

.scale-cv .bd-container {
  max-width: 595px;
}

.scale-cv .section {
  padding: 1.5rem 0 0.8rem;
}

.scale-cv .section {
  margin-bottom: 0.75rem;
}

.scale-cv .resume__left,
.scale-cv .resume__right {
  padding: 0 1rem;
}

.scale-cv .home__img {
  width: 90px;
  height: 90px;
}

.scale-cv .home__container {
  gap: 1.5rem;
}

.scale-cv .home__data {
  gap: 0.25rem;
}

.scale-cv .home__address,
.scale-cv .social_container {
  gap: 0.75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon {
  font-size: 1rem;
}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificate__container {
  gap: 1rem;
}

.scale-cv .education__time,
.scale-cv .experience__time {
  padding-right: 0.5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line {
  width: 1pxx;
  height: 110%;
  transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data {
  gap: 0.25rem;
}

.scale-cv .skills__name {
  margin-bottom: var(--mb-1);
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.ui {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}
/*========== CLASS CSS ==========*/
.section {
  padding: 1rem 0;
}

.resume__right {
  margin-top: 1.5rem;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
/*========== LAYOUT ==========*/
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  visibility: hidden;
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
/* Show menu */
.show-menu {
  bottom: var(--header-height);
}
/* Active menu link */
.active-link {
  color: var(--title-color);
}
/*========== HOME ==========*/
.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
  transition: 0.2s;
}

.home__title {
  font-size: var(--h1-font-size);
}

.home__title:hover {
  text-decoration: underline;
}

.home__profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
  transition: 0.1s;
}

.home__profession:hover {
  transform: scale(1.01);
  letter-spacing: 0.01rem;
  text-decoration: underline;
}

.home__address {
  gap: 1rem;
}

.home__information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  transition: 0.1s;
  color: inherit;
  text-decoration: none;
}
.home__information:hover {
  color: var(--title-color);
  transform: scale(1.01);
}

.home__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.1s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-2);
  /* visibility: hidden; */
}

.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

/*========== SOCIAL ==========*/
.social_container {
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: 0.1s;
}

.social__link:hover {
  color: var(--title-color);
  transform: scale(1.01);
}

.social__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
  text-decoration: none;
}

/*========== PROFILE ==========*/
.profile__description {
  text-align: center;
  font-size: var(--small-font-size);
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,
.experience__content {
  display: flex;
}

.education__time,
.experience__time {
  padding-right: 1rem;
}

.education__rounder,
.experience__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
  transition: transform 0.3s, background-color 1s;
}

.education__content:hover .education__rounder {
  transform: scale(1.1);
  background-color: var(--text-color);
}

.experience__content:hover .experience__rounder {
  transform: scale(1.1);
  background-color: var(--text-color);
}

.education__content:hover .education__line {
  background-color: var(--text-color);
}

.experience__content:hover .experience__line {
  background-color: var(--text-color);
}

.education__line,
.experience__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
  transition: 1s;
}

.education__data,
.experience__data {
  gap: 0.5rem;
}

.education__title,
.experience__name {
  font-size: var(--h3-font-size);
}

.education__title:hover {
  transition: 0.1s;
  padding-left: 0.1rem;
  cursor: text;
  text-decoration: underline;
}

.experience__title:hover {
  transition: 0.1s;

  cursor: text;
  text-decoration: underline;
}

.education__studies,
.experience__company {
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: transform 0.3s ease 0.1s, padding-left 0.3s ease 0.1s;
}

.education__data:hover .education__studies {
  transform: scale(1.05);
  padding-left: 1rem;
  padding-left: 0.2s ease 0.1s;
}

.experience__data:hover .experience__company {
  transform: scale(1.05);
  padding-left: 1rem;
  padding-left: 0.2s ease 0.1s;
}

.education__year,
.experience__description {
  font-size: var(--smaller-font-size);
  transition: transform 0.3s ease 0.2s, padding-left 0.3s ease 0.2s;
}

.education__data:hover .education__year {
  transform: scale(1.05);
  padding-left: 1rem;
  padding-left: 0.3s ease 0.2s;
}

.experience__data:hover .experience__description {
  transform: scale(1.05);
  padding-left: 1rem;
  padding-left: 0.3s ease 0.2s;
}

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content {
  grid-template-columns: repeat(2, 1fr);
}

.skills__content {
  gap: 0;
  flex-wrap: wrap;
}

.skills__name {
  display: inline-block;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: var(--super-small-font-size);
}

.projects__name {
  display: inline-block;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: var(--super-small-font-size);
}

.projects section {
  justify-content: center;
  align-items: center;
}

.skills__box {
  display: flex;
  align-items: center;
  border: 0 solid var(--text-color);
  color: var(--title-color);
  padding: 0.35rem 0.7rem;
  border-radius: 0.5rem;
  transition: 0.1s;
  font-weight: var(--font-medium);
  margin-top: 0.1rem;
  cursor: default;
  background-color: var(--container-color-alt);
}

.taglineprojects__box {
  border: 0px solid var(--text-color);
  color: var(--title-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  transition: 0.1s;
  font-weight: var(--font-medium);
  margin-top: 0.1rem;
  cursor: default;
  background-color: var(--container-color-alt);
  display: inline-block;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: var(--super-smaller-font-size);
}

.taghlinecontainer {
  margin-top: 1rem;
}

.projects__description {
  font-size: var(--super-small-font-size);
  color: var(--text-color);
  font-weight: var(--font-small);
  margin-bottom: 0.1rem;
}

.projects__title {
  font-size: var(--normal-font-size);
  margin-bottom: 1.3rem;
  color: var(--text-color);
}

.projects__name {
  display: grid;
  margin-right: 0.5rem;
}
.projects__box {
  display: block;
  align-items: flex-start;

  border: 1.5px solid var(--text-color);
  color: var(--title-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  font-weight: var(--font-medium);
  margin-top: 0.1rem;
  cursor: default;
  max-width: 19rem;
  border-color: var(--text-color-light);
  margin-bottom: 0.4rem;
}

.projects__box:hover {
  transform: scale(1.03);
  cursor: text;
}

.projects__box small {
  color: var(--text-color);
}

.projects__title:hover {
  text-decoration: underline;
}

.projects__box:hover .taglineprojects__box {
  background-color: var(--text-color);
  color: var(--container-color);
}

.projects__box:hover .taglineprojects__box:hover {
  background-color: var(--container-color-alt);
  color: var(--text-color);
}

.skills__box:hover {
  background-color: var(--text-color);
  color: var(--container-color);
  transform: scale(1.1);
}

/*========== CERTIFICATES ==========*/
.certificates__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== REFERENCES ==========*/
.references__content {
  gap: 0.25rem;
}

.references__subtitle {
  color: var(--text-color-light);
}

.references__subtitle,
.references__contact {
  font-size: var(--smaller-font-size);
}

.references__title {
  font-size: var(--h3-font-size);
}

.references__container, /* ganti sesuai parent sebenarnya */
.references__data {
  padding: 0;
  margin: 0;
}

/*========== INTERESTS ==========*/

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 20%;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
  transition: 0.2;
}

.scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 2rem;
  transition: 0.2;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
    --body-color: #2b2b2b;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header,
  .scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .resume__left {
    background-color: var(--container-color-alt);
  }

  .resume__left,
  .resume__right {
    padding: 0 1.5rem;
  }

  .generate-pdf {
    display: inline-block;
  }

  .section-title,
  .profile__description {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }

  .home__button-movil {
    display: none;
  }

  .references__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .languages__section {
    grid-template-columns: repeat(1, max-content);
    column-gap: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .interest__container {
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }
  .projects__box {
    max-width: 13rem;
    max-height: 11rem;
  }

  .projects__name {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .skills__content {
    display: flex;
  }

  .skills__data {
    margin: 0.1rem;
  }

  .home__img:hover {
    transform: scale(120%);
    border-radius: 10%;
    justify-self: center;
    align-self: center;
    margin-bottom: var(--mb-1);
  }
}

.projects__content {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.skills__name {
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-self: center;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 968px) {
  .skills__content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .languages__content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }

  .languages__box {
    margin: 0.1rem;
  }

  .skills__align,
  .skills__data {
    margin: 0.1rem;
  }
}
